{% extends "FlashDefaultBundle::gallery.html.twig" %}



{% block content %}

<input type='hidden' id='own_id' value='{{ own_id }}' />
<input type='hidden' id='acc_id' value='{{ acc_id }}' />


<script type="text/template" id="image-list-tpl">
    <a class="thumb"  title="<%= name %>" href='#photo/<%= id %>'>
        <img src="http://localhost/stuff/web/app_dev.php/image/thumb/{{ acc_id }}/<%= path %>"/>
    </a>
</script>

<script type="text/template" id="comment-list-tpl">
    <p><b><%= account.first_name %> <%= account.last_name %></b> Пишет:</p>
    <p><%= text %></p>
</script>

<script type="text/template" id="own-comment-list-tpl">
    <p><b><%= account.first_name %> <%= account.last_name %></b> Пишет:</p>
    <p><%= text %></p>
    <button class='btn comment-delete' val='<%= id %>'>Удалить</button>
</script>

<script type="text/template" id="image-details-tpl">
    <div class="photo-details">
    
        <div class="thumb"  title="<%= id %>">
            <img src="http://localhost/stuff/web/app_dev.php/image/{{ acc_id }}/<%= path %>" />
        </div>
        <div class="caption">
            <fieldset>
                <legend><%= name %></legend>
                
                <div class="download">
                    <a href="http://localhost/stuff/web/app_dev.php/image/{{ acc_id }}/<%= path %>">Download Original</a>
                </div>
                
                <span class="help-block">Photo id: <%= id %></span>
                
                <div class='like'>
                    <%  var ratingNum = rating.length; %> 
                    <span class="help-block">Рейтинг: <span id='rating'><%= ratingNum %></span></span>
                    <button class='btn' id='like' val='<%= id %>'>Мне нравится</button>
                </div>
                
                <div class='comment'>
                    <label>Оставьте комментарий:</label>
                    <textarea id='comment'></textarea>
                    <br>
                    <button class='btn' id='send' val ='<%= id %>'>Отправить</button>
                </div>
                
                {% if (acc_id == own_id) %}
                    <div class='photo-edit'>
                        <button class='delete btn' id='delete' val='<%= id %>'>Удалить</button>
                    </div>
                {% endif %}
                
            </fieldset>
        </div>
        <div id='comments'></div>
    </div>
        
</script>

<div class='main-content' style='width: 800px'>

    {% if (acc_id == own_id) %}
        <div id='uploader'>
            <div id="manual-fine-uploader"></div>
            <div id="triggerUpload" class="btn btn-primary" style="margin-top: 10px;">
                <i class="icon-upload icon-white"></i> Upload now
            </div>
        </div>
    {% endif %}

    <!-- Start Minimal Gallery Html Containers -->

    <div class="content">
        <div id="thumbs" class="navigation">
        </div>
        <div class="slideshow-container">
            <div id="controls" class="controls"></div>
            <div id="slideshow" class="slideshow"></div>
        </div>
        <div id="caption" class="caption-container">
            <div class="photo-index"></div>
        </div>
    </div>

    <!-- End Minimal Gallery Html Containers -->
</div>
</div>
{% endblock %}

