{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="{{ asset('bundles/flashdefault/css/style.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/flashdefault/css/bootstrap.css') }}" />
<script src="{{ asset('bundles/acmedemo/js/lib/jquery-1.7.1.min.js') }}"></script>
<script src="{{ asset('bundles/acmedemo/js/lib/underscore-min.js') }}"></script>
<script src="{{ asset('bundles/acmedemo/js/lib/backbone-min.js') }}"></script>
{% endblock %}


{% block body %}
    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <h2>Admin page</h2>
                <li><a href="{{ path('_flash_logout') }}">Logout</a></li>
            {% endblock %}
        </ul>
        <div style="clear: both"></div>
    {% endblock %}

    <div class="block" id='main'>
         {% block content %}{% endblock %}
    </div>

    <script src="{{ asset('bundles/flashdefault/js/model/UserEventModel.js') }}"></script>   
    <script src="{{ asset('bundles/flashdefault/js/views/UserEventView.js') }}"></script>   
    <script src="{{ asset('bundles/flashdefault/js/views/UserEventListView.js') }}"></script>   
    <script src="{{ asset('bundles/flashdefault/js/controller/LoggedRouter.js') }}"></script>   


{% endblock %}
